scrypt>=3.4.3
psycopg2-pool>=1.2
djangorestframework-simplejwt[crypto]>=5
psycopg2-binary>=2.9
Django==4.2.17
djangorestframework==3
django-bootstrap4>=24
adrf>=0.1.9
django-webpack-loader>=3.1
django-cors-headers>=4
