/*!*****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/messenger.css ***!
  \*****************************************************************************************************************************************************************************************/
body {
  margin-top: 20px;
  background-color: #eee;
}

/*================================
  Filter Box Style
  ====================================*/
.job-box-filter label {
  width: 100%;
}

.job-box-filter select.input-sm {
  display: inline-block;
  max-width: 120px;
  margin: 0 5px;
  border: 1px solid #e8eef1;
  border-radius: 2px;
  height: 34px;
  font-size: 15px;
}

.job-box-filter label input.form-control {
  max-width: 200px;
  display: inline-block;
  border: 1px solid #e8eef1;
  border-radius: 2px;
  height: 34px;
  margin-left: 5px;
  font-size: 15px;
}

.text-right {
  text-align: right;
}

.job-box-filter {
  padding: 12px 15px;
  background: #ffffff;
  border-bottom: 1px solid #e8eef1;
  margin-bottom: 20px;
}

.job-box {
  background: #ffffff;
  display: inline-block;
  width: 100%;
  padding: 0 0px 40px 0px;
  border: 1px solid #e8eef1;
}

.job-box-filter a.filtsec {
  margin-top: 8px;
  display: inline-block;
  margin-right: 15px;
  padding: 4px 10px;
  font-family: "Quicksand", sans-serif;
  transition: all ease 0.4s;
  background: #edf0f3;
  border-radius: 50px;
  font-size: 13px;
  color: #81a0b1;
  border: 1px solid #e2e8ef;
}

.job-box-filter a.filtsec.active {
  color: #ffffff;
  background: #16262c;
  border-color: #16262c;
}

.job-box-filter a.filtsec i {
  color: #03A9F4;
  margin-right: 5px;
}

.job-box-filter a.filtsec:hover,
.job-box-filter a.filtsec:focus {
  color: #ffffff;
  background: #07b107;
  border-color: #07b107;
}

.job-box-filter a.filtsec:hover i,
.job-box-filter a.filtsec:focus i {
  color: #ffffff;
}

.job-box-filter h4 i {
  margin-right: 10px;
}

/*=====================================
  Inbox Message Style
  =======================================*/
.inbox-message ul {
  padding: 0;
  margin: 0;
}

.inbox-message ul li {
  list-style: none;
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #e8eef1;
}

.inbox-message ul li:hover,
.inbox-message ul li:focus {
  background: #eff6f9;
}

.inbox-message .message-avatar {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.message-avatar img {
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.inbox-message .message-body {
  margin-left: 85px;
  font-size: 15px;
  color: #62748F;
}

.message-body-heading h5 {
  font-weight: 600;
  display: inline-block;
  color: #62748F;
  margin: 0 0 7px 0;
  padding: 0;
}

.message-body h5 span {
  border-radius: 50px;
  line-height: 14px;
  font-size: 12px;
  color: #fff;
  font-style: normal;
  padding: 4px 10px;
  margin-left: 5px;
  margin-top: -5px;
}

.message-body h5 span.unread {
  background: #07b107;
}

.message-body h5 span.important {
  background: #dd2027;
}

.message-body h5 span.pending {
  background: #2196f3;
}

.message-body-heading span {
  float: right;
  color: #62748F;
  font-size: 14px;
}

.messages-inbox .message-body p {
  margin: 0;
  padding: 0;
  line-height: 27px;
  font-size: 15px;
}

a:hover {
  text-decoration: none;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}
/*!**************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/style.scss ***!
  \**************************************************************************************************************************************************************************************/
-p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label,
button,
textarea.form-control,
textarea.form-control:focus,
-a:not([href]):not([class]),
input[type=text],
input[type=password],
input[type=email],
input[type=file],
input[type=number],
input[type=checkbox],
select {
  color: var(--bs-body-color);
}

body {
  background-color: var(--bs-body-bg);
}

-nav ul,
nav a,
nav a:visited,
nav a:hover,
nav a:active,
input[type=text],
input[type=password],
select,
textarea.ad-full__description,
textarea.ad-full__description:focus,
textarea.ad-full__description:focus,
textarea.ad-full__description:hover,
textarea.ad-full__description:active,
input[type=file] {
  background: var(--bs-tertiary-bg);
}

.pagination a.page-link {
  border-color: var(--bs-border-color);
  background-color: var(--bs-light-bg-subtle);
}

.invalid {
  color: var(--bs-danger-text-emphasis);
}

div.hidden {
  display: block;
}

/* ---- FORMS ----*/
.form {
  display: flex;
  justify-content: flex-start;
}

.form > .mb-3:first-child,
.form > .mb-3:nth-child(2) {
  width: 280px;
}

.ads-form,
#form-register,
#form-register label,
#form-login,
#form-login label {
  display: block;
}

.form .ads-form,
#form-register,
#form-login {
  width: 250px;
}

/* ---- PUBLICK COLLECTION ADS ----*/
.ad-view div.ad-view {
  overflow: hidden;
  text-align: left;
}
.ad-view .ad-view-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 34px;
}
.ad-view .ad-view-container > div {
  overflow: hidden;
}
.ad-view h2,
.ad-view div.ad-view-content,
.ad-view button {
  font-size: 1rem;
  color: var(--bs-body-color);
}
.ad-view button {
  max-height: 28px;
  line-height: 1;
  vertical-align: top;
}

/* ---- PAGE OF ONE AD ----*/
#ad-page-container {
  height: clamp(100px, 47vh, 500px);
}
#ad-page-container .ad-view-title {
  text-align: center;
}
#ad-page-container .ad-view-container {
  max-height: none;
  flex-wrap: wrap;
}
#ad-page-container .ad-view-container > .ad-view-content {
  text-align: left;
  max-height: none;
}
#ad-page-container .ad-view-container > div {
  display: block;
  min-width: 280px;
  width: 100%;
}
#ad-page-container h2 {
  font-size: clamp(18px, 2rem, 2.5rem);
}

:root,
[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}
